<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.twobirdwithonestone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="꿩먹알먹"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.SettingPopupActivity"></activity>
        <activity android:name=".Activity.CopyrightActivity" />
        <activity android:name=".Activity.SubHomeActivity" />
        <activity android:name=".Activity.ZeropayActivity" />
        <activity android:name=".Activity.LoadingActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LockScreenActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.SubShopListViewActivity" />
        <activity android:name=".Activity.ShopListViewActivity" />
        <activity
            android:name=".Activity.SettingQuestPopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Activity.SettingFAQPopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Activity.SettingNoticePopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Activity.SettingIntroducePopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Activity.SettingDeveloperPopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name" />

        <service
            android:name=".Service.LockScreenService"
            android:enabled="true"
            android:exported="true" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>